<div class="col-xs-6 col-md-4 container-follower" id="follower-preview"<%= follower.id%>">
  <div class="card card-img-follower">
    <%= image_tag src=follower.avatar.url, :class => 'circular--square', :alt => 'Avatar' %>
    <div class="card-block">
      <div class="card-title">
        <strong><h1><%= follower.username %></h1></strong>
      </div>
  </div>

</div>

