<div class="col-xs-6 col-md-4 container-followee" id="followee-preview"<%= followee.id%>">
  <div class="card card-img-followee">
    <%= image_tag src=followee.avatar.url, :class => 'circular--square', :alt => 'Avatar' %>
    <div class="card-block">
      <div class="card-title">
        <strong><h1><%= followee.username %></h1></strong>
      </div>
    </div>
</div>