<p id="notice"><%= notice %></p>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->



<div class="row">
  <!--profile-->
  <div class="col-sm-2">
    <div id="profilecard" class="card" style="box-shadow: 1px 1px 1px 1px; background-color: white;">
      <%= image_tag @user.avatar.url(:thumb), :class => 'img-card-top' %>
      <div class="card-block">
        <div class="card-title">
          <strong><%= @user.username %></strong>
          <br/>
          <strong><%= @user.email %></strong>
        </div>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
          <a href= "#" id="show_projects">
            <strong>My Projects</strong>
          </a>
        </li>
        <li role="presentation">
          <a href= "#" id="show_followers">
            <strong>Followers</strong>
          </a>
        </li>
        <li role="presentation">
          <a href= "#" id="show_following">
            <strong>Following</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="preview-container" class="panel panel-default" style="margin-left: 25px;">
    <h2 id="preview-header" class="panel-header" style="padding-left: 15px;" ><strong></strong></h2>
    <div class="col-sm-6" >
      <div id="preview-body"></div>
    </div>
  </div>


</div>




