 <!-- Body -->
<div class="main-container row">

  <!-- Left Sidebar -->
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 gray height100 no-padding-right">
    <div class="top-bar lgray right-border"><h2 class="centered list-group-item-heading">Graph Types</h2></div>
      <ul class="list-group">
        <li class="list-group-item active" id="usageListItem">Timespan Usage</li>
        <li class="list-group-item" id="runtimeListItem">Project Runtimes</li>
        <li class="list-group-item" id="geographicListItem">Geographic Usage</li>
      </ul>
  </div>

  <!-- Main -->
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 height100">
    <!-- Top Bar-->
    <div class="top-bar lgray row">
        <select id='numberPicker' class="tool-select selectpicker col-md-5">
          <option value="5">5</option>
          <option value="10" selected="selected">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="60">60</option>
        </select>
        <select id='unitPicker' class="tool-select selectpicker col-md-5">
          <option value="day">Day(s)</option>
          <option value="month">Month(s)</option>
        </select>
    </div>

    <div class="analytics-middle-container row">
        <div id='parent' class="height100">
          <div id="graphContainer" style="height: 100%; width: 100%">
            <canvas id="myChart"></canvas>
          </div>
        </div>
    </div>
  </div>

  <!-- Right Sidebar-->
  <div class="height100 gray col-xs-2 col-sm-2 col-md-2 col-lg-2 left-border">
      <div class="top-bar ignore-parent-padding lgray"><button class="btn btn-primary tool-select-button fit-parent-button">?</button></div>
      <h3 id="projectListHeader" class="list-group-item-heading"></h3>
      <ul id="projectList" class="scrollable-menu list-group height100"> </ul>
  </div>

</div>
