<!-- Top -->
<!-- Will need to include this once all js isn't included -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>> -->
<div class="container-fluid ">
  <div class="row lightskyblue height100">
      <select id='numberPicker' class="tool-select selectpicker">
        <option value="5">5</option>
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="60">60</option>
      </select>
      <select id='unitPicker' class="tool-select selectpicker">
        <option value="day">Day(s)</option>
        <option value="month">Month(s)</option>
      </select>
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" id="timespanListItem">Timespan Usage</li>
        <li class="list-group-item" id="geographicListItem">Geographic Usage</li>
      </ul>
    </div>

    <div class="col-md-8">
      <div id='parent' style="height: 500px; width: 100%">
        <div id="graphContainer" style="height: 500px; width: 100%">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-2 black">
      <h3 id="projectListHeader"></h3>
      <ul id="projectList"> </ul>
    </div>
  </div>

</div>

<div id="myId" class="hidden">Foobar</div>