<div id="searchbar" class="panel panel-default" >
  <div class="panel-heading">
    <strong>Search For Users</strong>
  </div>
  <div class="panel-body"  >
    <form id="user_search" >
      <!-- by username -->
      <div class="form-inline" >
          <label for="username">Username</label>
          <input type="text" class="form-control" id="search_by_username" placeholder="">

        </div>


        <br/>
        <button id="user_search_button" type="submit" value="Submit" class="btn btn-primary" style="margin-top: 20px;" >Search</button>

    </form>
  </div>

</div>
