<div hidden>
  <%= text_area_tag :output, @output %>
</div>

<!-- Start page body -->

 <!-- Body -->
<div class="main-container row container-fluid">

  <!-- Center -->
  <div class="center-container row">

    <!-- Sidebar -->
    <div id="community-sidebar" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 gray">
    </div>

    <!-- Main -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 height100">

      <!-- Top -->
      <div class="tool-selection-container row lightskyblue">
      </div>


      <!-- Middle -->
      <div class="height100 community-middle lgray row">

        <!-- Left -->
        <div class="community-middle-continer col-xs-10 col-sm-10 col-md-10 col-lg-10">
        </div>

        <!-- Right -->
        <div class="gray community-middle-continer col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

      </div>

<div>
