// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//*= require bootstrap-select.min

.analytics-main-container
{
  height: 94%;
}

.top-bar
{
  padding: 4px;
}

.scrollable-menu {
  overflow-x: hidden;
}

.analytics-sidebar {
  height: 100%;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding {
  padding: 0;
}


.right-border{
  border-right: 1px solid #5e5e5e;
}
.left-border{
  border-left: 1px solid #5e5e5e;
}

.margin-zero {
  margin: 0;
}

.text-center {
  text-align: center;
}

