// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//*= require bootstrap-select.min

.analytics-middle-container
{
  height: 92%;
}

.top-bar
{
  height: 5.5%;
}

.scrollable-menu {
  overflow-x: hidden;
}

.analytics-sidebar
{
  height: 100%;
}

.no-padding-right
{
  padding-right: 0;
}

.no-padding-left
{
  padding-left: 0;
}

.right-border{
  border-right: 1px solid #5e5e5e;
}
.left-border{
  border-left: 1px solid #5e5e5e;
}

.vertical-center {
  float:none;
  margin:0 auto;
}

.margin-zero
{
  margin: 0;
}

.fit-parent-button
{
  width:100%
}

.ignore-parent-padding
{
  margin-left: -12px;
  margin-right: -12px;
}
