// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//*= require bootstrap-select.min

.analytics-middle-continer
{
  height: 100%; padding:0; margin:0; z-index: 1;
}

.scrollable-menu {
  overflow-x: hidden;
}

#analytics-sidebar
{
  height: 112.5%;
}

.analytics-middle
{
  height: 87.5;
}
