// Place all the styles related to the community controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.community-middle-continer
{
  height: 100%; padding:0; margin:0; z-index: 1;
}

#community-sidebar
{
  height: 112.5%;
}

.community-middle
{
  height: 87.5;
}