/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
@import 'variables';

html
{
  height:100%;
  width: 100%;
  overflow: hidden;
}

body
{
  overflow: hidden;
}

.main-container
{
  height: calc(100% - 50px);
  width: calc(100% + 15px);;
}

.tool-select
{
  height: 35px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1%;
  z-index: 10000000000000;
}

form {
    display: inline;
}

.options-select
{
  height: 35px;
  width: 72.5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1%;
  z-index: 10000000000000;
}

.tool-select-button
{
  height: 35px;
  position: relative;
  width: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.middle
{
  height: 75%;
}

.analytics-middle
{
  height: 87.5;
}

.run-button
{
  height: 35px;
  position: relative;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.centered
{
  position: relative;
  padding-left: 2%;
}
/* Account for fixed navbar */
body {
  height: 100%;
  width: 100%;
}

.editor-container
{
  height: 100%; padding:0; margin:0; z-index: 1;
}

.analytics-middle-continer
{
  height: 100%; padding:0; margin:0; z-index: 1;
}

.bottom-container
{
  height: 12.5%;
}

.project-selection-container
{
  height: 25%;
}

.file-list-container
{
  height: 75%;
}

.tool-selection-container
{
  height: 12.5%;
}

.center-container
{
  height: 90%;
}

.header-container
{
  height: 10%;
}

#editor1 {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}


#editor2 {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.hidden-overflow
{
  overflow: hidden;
}

<<<<<<< HEAD
.sidebar {
  height:100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-height: 100%;
  height: 100%;
=======
/*.sidebar {
    height:100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;  Scrollable contents if viewport is shorter than content. 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    min-height: 100%;
height: 100%;
  }*/

#analytics-sidebar
{
  height: 112.5%;
>>>>>>> mm
}

.myProject
{
  height: 10%;
  background-color: #83a39b;
}

.right{

  background-color: #84ed8b;
  min-height: 100%;
  height: 100%;

}

.button2
{
  width: 10px;
  height: 10%;
  float: right;
}

.selection
{
  height: 5%;
}

.tool
{
  height: 10%px;
}

.headx
{
  height: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}


.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f88888;
  z-index:10000;
}

