/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
@import 'variables';

html
{
  height:100%;
  width: 100%;
}

.main-container
{
  height: calc(100% - 50px);
  width: 100%;
}

.tool-select
{
  height: 35px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1%;
  z-index: 10000000000000;
}

form {
    display: inline;
}

.options-select
{
  height: 35px;
  width: 72.5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1%;
  z-index: 10000000000000;
}

.tool-select-button
{
  height: 35px;
  position: relative;
  width: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.middle
{
  height: 75%;
}

.run-button
{
  height: 35px;
  position: relative;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.centered
{
  position: relative;
  padding-left: 2%;
}

.lgray
{
  background-color: $lgray;
}

.lightskyblue
{
  background-color: $light-sky-blue;
}

/* Account for fixed navbar */
body {
  height: 100%;
  width: 100%;
}

.editor-container
{
  height: 100%; padding:0; margin:0; z-index: 1;
}

.bottom-container
{
  height: 12.5%;
}

.project-selection-container
{
  height: 25%;
}

.file-list-container
{
  height: 75%;
}

.tool-selection-container
{
  height: 12.5%;
}

.center-container
{
  height: 90%;
}

.header-container
{
  height: 10%;
}

.height100
{
  height:100%;
}

#editor1 {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}


#editor2 {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.hidden-overflow
{
  overflow: hidden;
}

.sidebar {
    height:100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    min-height: 100%;
height: 100%;
  }

.myProject
{
  height: 10%;
  background-color: #83a39b;
}

.right{

  background-color: #84ed8b;
  min-height: 100%;
  height: 100%;

}

.button2
{
  width: 10px;
  height: 10%;
  float: right;
}

.selection
{
  height: 5%;
}

.tool
{
  height: 10%px;
}

.headx
{
  height: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

.fill
{
  height:100%;
}

.fifty
{
  height: 50%
}

  .footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f88888;
  z-index:10000;

}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}

/* Demonstrate the grids */


.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
/*.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}*/

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.green
{
  background-color: green;
}

.red
{
  background-color: red;
}

.blue
{
  background-color: #3687D0;
}

.yellow
{
  background-color: yellow;
}

.orange
{
  background-color: orange;
}

.purple
{
  background-color: purple;
}

.gray
{
  background-color: #12151A;
}

.white-color
{
  color: white;
}


textarea {
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  /*padding: 15px;*/
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}
