body {
  background-color: lightgrey;
}
.card {
  margin-top: 15px;
  margin-left: 15%;
  /*margin-left: 15px;*/
  padding: 5px 5px 5px;

}
.card-project {
  width: 220px;
  height: 220px;
}
.card-project-preview{
  border-radius: 2px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  display: table;
}
.card-project-new{
  border-radius: 2px;
  display: table;
}

.btn-newproject{
  color: black;
  background-color: darkgrey;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 2px #000;
  display: table-cell;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;

  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  border-style: solid black;
}
.btn-play{
  color: black;
  background-color: limegreen;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 2px;
}
.btn-remove{
  color: red;
  background-color: darkgrey;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 2px #000;
}
.btn-open{
  color: black;
  background-color: darkgrey;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 2px #000;
}
.img-card-top{
  width:100%;
  opacity:0.85;
}

#projects_preview {
  padding-left: 5%;
}
#followers_preview {
  padding-left: 5%;
}

.card-img-follower{
  text-align: center;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  background-color: lightgrey;

  max-width: 220px;
  max-height:220px;
  min-width: 220px;
  min-height: 220px;
  padding: 15px;
}

.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-width:2px;
  border-color: black;
  box-shadow: 5px 5px 5px;
  margin-bottom: 10px;
}

.container-follower{
  display: flex;
  padding: 10px;
  text-align: center;
}

#preview-body {
  background-color: #2e6da4;
}