/*
* Place all the styles related to the Projects controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*
*= require bootstrap-select.min
*= require bootstrap-tour.min
*= require dropdowns-enhancement
*= require editor
*= require jqtree
*/
@import 'variables';

html, 
body {
  height: 100%;
  width: 100%;
}

#top-row {
  & > div:first-child {
    padding-left: 8px;
  }
}

.main-container
{
  height: calc(100% - 2*52px);
    /* 2*52 b/c the navbar and top-row are each 52px tall */
  overflow: hidden;
}

#file-list {
  margin-right: -15px;
}
#file-list ul.jqtree-tree .jqtree-title,
#file-list ul.jqtree-tree .jqtree-toggler {
  color: #eee;
}

.current-file,
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  background: $light-sky-blue;
  border-radius: 0px 0px 0px 6px;
  padding-top: 4px;
  padding-bottom: 2px;
}
@keyframes file {
  from { padding: 0; }
  to {
    padding-top: 4px;
    padding-bottom: 2px;
  }
}
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  animation-name: file;
  animation-duration: 200ms;
}
#input_upload_status {
  color: red;
}

#editors-row {
  height: calc(100% - 52px);
}
#sidebar {
  padding: 8px;
}

.project-btn {
  width: 95px;
}

.ace_editor {
  height: 100%;
}
