/*
* Place all the styles related to the Projects controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*
*= require bootstrap-select.min
*= require bootstrap-tour.min
*= require dropdowns-enhancement
*= require editor
*= require jqtree
*/
@import 'variables';
@import 'flexbox-cols';

html, 
body {
  min-width: 800px;
  min-height: 600px;
  height: 100%;
  width: 100%;
}

#editors-row {
  height: calc(100% - 52px);
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }

  &.output-shrunk {
    #collapse-output-text:before {
      content: "^";
    }
    @media (min-width: $screen-md-min) {
      #collapse-output-text:before {
        content: "<";
      }
    }

    #output-editor-container {
      flex-grow: 0.001;
      flex-grow: 0;
    }
  }
}

.editor-container {
  position: relative;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all 1s;
}
.ace-editor {
  height: 100%;
}

#collapse-output-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(211,211,211);
  border: 1px solid black;
  border-radius: 8px;
  font-weight: bold;

  cursor: pointer;

  height: 18px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    height: 100%;
    width: 18px;
  }
}

#collapse-output-text:before {
  content: "V";

  @media (min-width: $screen-md-min) {
      content: ">";
  }
}

#verify-status-box {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 350px;
  z-index: 1000;

  display: flex;
  justify-content: space-between;

  margin: 6px;
  padding: 18px;
  border-radius: 4px;

  background-color: rgba(26, 28, 29, 0.9);
  color: white;
}

#verify-status-header {
  font-size: 24px;
}

#verify-status-icon-box {
  float: right;
  width: 75px;
  height: 75px;
  margin-left: 24px;

  border: 6px solid green;
  border-radius: 48px;

  display: flex;
  justify-content: center;
  align-items: center;


  font-size: 48px;


  &.success {
    color: green;
  }
  &.failure {
    color: red;
  }
}

#verify-status-close-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  color: lightgray;
}


#top-row {
  & > div:first-child {
    padding-left: 8px;
  }
}

#options-and-run-row {
  & > div:first-child {
    margin: 8px;
  }
}

.main-container
{
  height: calc(100% - 2*52px);
    /* 2*52 b/c the navbar and top-row are each 52px tall */
  overflow: hidden;
}

#file-list {
  margin-right: -15px;
}
#file-list ul.jqtree-tree .jqtree-title,
#file-list ul.jqtree-tree .jqtree-toggler {
  color: #eee;
}

.current-file,
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  background: $light-sky-blue;
  border-radius: 0px 0px 0px 6px;
  padding-top: 4px;
  padding-bottom: 2px;
}
@keyframes file {
  from { padding: 0; }
  to {
    padding-top: 4px;
    padding-bottom: 2px;
  }
}
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  animation-name: file;
  animation-duration: 200ms;
}
#input_upload_status {
  color: red;
}

#sidebar {
  padding: 8px;
}

.project-btn {
  width: 95px;
}
