/*
* Place all the styles related to the Projects controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*
*= require bootstrap-select.min
*= require editor
*= require jqtree
*/
@import 'variables';

#file-list {
  margin-right: -15px;
}
#file-list ul.jqtree-tree .jqtree-title,
#file-list ul.jqtree-tree .jqtree-toggler {
  color: #eee;
}
/*
ul.jqtree-tree li:not(.jqtree-folder) .jqtree-element {
  display: flex;
  align-items: center;
  
}
li.jqtree_common:not(.jqtree-folder) div:before {
  content: image-url("nested.png");
  width: 15px;
  height: 15px;
  margin-left: 11px;
  color: #eee;
}
#file-list ul.jqtree-tree .jqtree-title {
  margin-left: 0px;
}
*/
.current-file,
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  background: $light-sky-blue;
  border-radius: 0px 0px 0px 6px;
  padding-top: 4px;
  padding-bottom: 2px;
}
@keyframes file {
  from { padding: 0; }
  to {
    padding-top: 4px;
    padding-bottom: 2px;
  }
}
ul.jqtree-tree li.jqtree_common:not(.jqtree-folder) div:not(.current-file):hover {
  animation-name: file;
  animation-duration: 200ms;
}
#input_upload_status {
  color: red;
}

#top-row,
#options-and-run-row {
  padding: 4px;
}
#options-and-run-row {
  min-height: 44px;

  div {
    padding-left:  4px;
    padding-right: 4px;
  }
}
#top-row > div:first-child {
  padding-right: 4px;
}
#top-row > div:nth-of-type(2) {
  padding-left: 4px;

  div {
    padding-left:  8px;
    padding-right: 8px;
  }

  .bootstrap-select {
    display: block;
  }
}
.tool-select-button
{
  width: 90px;
}

#editors-row {
  height: calc(100% - 88px);
}
#sidebar {
  padding: 8px;
}
/*
#project_title {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0;
  height: 44px;
}
*/
